<header>
	<nav class="navbar navbar-inverse" id="main-navigation">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<!-- routing links -->
				<li><a routerLink="/" routerLinkActive="active"
				       [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
				<li><a routerLink="/about" routerLinkActive="active">About</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>

<main>
	<!-- main router outlet -->
	<router-outlet></router-outlet>

</main>

<footer id="footer">
	<span><br>Justin Tyme Dejesus Copyright &copy; 2016</span>
	
</footer>

